<section class="study" id="study">
  <div class="title__container-study">
    <h1 class="study__title">Formación</h1>
  </div>
  <div class="study__container">
    <!---- STUDY ITEM TOP ---->
    <div class="study__item">

      <!---- Cover Tecnicatura ---->
      <a class="study__card" data-aos="zoom-out-down" href="https://www.ispc.edu.ar/tecnicatura-web/"
        Target="_blank">
        <img src="assets/study/Tecnicatura.png" alt="Soy-Henry" />
        <img class="henry__bw" src="assets/study/Tecnicatura.png" style="filter: grayscale();" alt="Soy-Henry" />
        <h3 class="study__title-card">
          Tecnicatura en sistemas <br />
          <strong>2022 - Actualmente</strong>
        </h3>
      </a>

      <!---- Cover Soy Henry ---->
      <a class="study__card" data-aos="zoom-out-down"
        href="https://certificates.soyhenry.com/cert?id=02879083-decd-4ddc-a5a1-7d59fbe84230" Target="_blank">
        <img src="assets/study/Henry_Cover_Portfolio.png" alt="Soy-Henry" />
        <img class="henry__bw" src="assets/study/Henry_Covers_Portfolio-bw.png" alt="Soy-Henry" />
        <h3 class="study__title-card">
          Full-Stack Developer <br />
          <strong>2022 - 2023</strong>
        </h3>
      </a>
       <!---- Cover Java ---->
       <a class="study__card" data-aos="zoom-out-down"
       href="https://drive.google.com/file/d/1qwIcG-TJO1Nk1cmQmxGu0uQTsB0Dlmq1/view?usp=sharing" Target="_blank">
       <img src="assets/study/UniversidadJava.png" alt="Alura-Oracle-One" />
       <img class="alura__bw" src="assets/study/UniversidadJava.png" style="filter: grayscale();"
         alt="Alura-Oracle-One" />
       <h3 class="study__title-card">
         Univerdad de Java<br />
         <strong>2023 - 2023</strong>
       </h3>
     </a>
      <!---- Cover angular ---->
      <a class="study__card" data-aos="zoom-out-down"
        href="https://drive.google.com/file/d/1LDzPlPlrThEHGkAAxWg9OrhttNSJhJcd/view" Target="_blank">
        <img src="assets/study/universidad angular.png" alt="Alura-Oracle-One" />
        <img class="alura__bw" src="assets/study/universidad angular.png" style="filter: grayscale();"
          alt="Alura-Oracle-One" />
        <h3 class="study__title-card">
          Univerdad de Angular<br />
          <strong>2023 - 2023</strong>
        </h3>
      </a>
      <!---- Cover Typescript ---->
      <a class="study__card" data-aos="zoom-out-down"
        href="https://drive.google.com/file/d/1SbLrk6a9jZGzBPwCkECJ5k1np4zz7hu3/view" Target="_blank">
        <img src="assets/study/cursoTypescript.png" alt="Alura-Oracle-One" />
        <img class="alura__bw" src="assets/study/cursoTypescript.png" style="filter: grayscale();"
          alt="Alura-Oracle-One" />
        <h3 class="study__title-card">
          Curso de Typescript<br />
          <strong>2022 - 2022</strong>
        </h3>
      </a>
      <!---- Cover React ---->
      <a class="study__card" data-aos="zoom-out-down"
        href="https://drive.google.com/file/d/1GwlPyGE4ibeHEwwPxPRo8W4zikche6CA/view" Target="_blank">
        <img src="assets/study/profesionalReact.png" alt="Alura-Oracle-One" />
        <img class="alura__bw" src="assets/study/profesionalReact.png" style="filter: grayscale();"
          alt="Alura-Oracle-One" />
        <h3 class="study__title-card">
          Profesional de React<br />
          <strong>2022 - 2022</strong>
        </h3>
      </a>
      <!---- Cover next ---->
      <a class="study__card" data-aos="zoom-out-down"
        href="https://drive.google.com/file/d/1pyBq8gzFUm9OaQPXeixcq2zFDlZFz_-9/view" Target="_blank">
        <img src="assets/study/introduccionNext.png" alt="Alura-Oracle-One" />
        <img class="alura__bw" src="assets/study/introduccionNext.png" style="filter: grayscale();"
          alt="Alura-Oracle-One" />
        <h3 class="study__title-card">
          Introducción a Next<br />
          <strong>2022 - 2022</strong>
        </h3>
      </a>
      <!---- Cover Node ---->
      <a class="study__card" data-aos="zoom-out-down"
        href="https://drive.google.com/file/d/1QzpcXjkYMp3gPMIcePtiOW7AiZ-JQ2e6/view" Target="_blank">
        <img src="assets/study/profesionalNode.png" alt="Alura-Oracle-One" />
        <img class="alura__bw" src="assets/study/profesionalNode.png" style="filter: grayscale();"
          alt="Alura-Oracle-One" />
        <h3 class="study__title-card">
          Profesional Node<br />
          <strong>2022 - 2022</strong>
        </h3>
      </a>
      <!---- Cover master ---->
      <a class="study__card" data-aos="zoom-out-down"
        href="https://drive.google.com/file/d/1fnvvg9DdM5s4q45ePBenPai7d9mgCjXW/view?usp=sharing" Target="_blank">
        <img src="assets/study/MasterJS_Udemy_Cover.png" alt="Alura-Oracle-One" />
        <img class="alura__bw" src="assets/study/MasterJS_Udemy_Cover-bw.png" alt="Alura-Oracle-One" />
        <h3 class="study__title-card">
          Master en JavaScript<br />
          <strong>2022 - 2022</strong>
        </h3>
      </a>

      <!---- Cover JS ---->
      <a class="study__card" data-aos="zoom-out-down"
        href="https://drive.google.com/file/d/1XAYUMhQaqA8EdNANwZGui7a7NiDbIqTF/view?usp=sharing" Target="_blank">
        <img src="assets/study/js_full.png" alt="React-Udemy" />
        <img class="react__bw" src="assets/study/js_full-bw.png" alt="React-Udemy" />
        <h3 class="study__title-card">
          JavaScript Full <br />
          <strong>2022 - 2022</strong>
        </h3>
      </a>

      <!---- Cover Freecodecamp ---->
      <a class="study__card" data-aos="zoom-out-down"
        href="https://www.freecodecamp.org/espanol/certification/nicovied0/responsive-web-design" Target="_blank">
        <img src="assets/study/fcp_responsive_web.png" alt="Freecodecamp" />
        <img class="freecodecamp__bw" src="assets/study/fcp_responsive_web-bw.png" alt="Freecodecamp" />
        <h3 class="study__title-card">
          Diseño Web Responsivo<br />
          <strong>2021 - 2022</strong>
        </h3>
      </a>


    </div>
  </div>
  <!---- STUDY ITEM BOTTOM ---->
</section>
