.top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 9px;
  font-weight: 900;
  width: 43px;
  height: 43px;
  color: var(--color-background-dark);
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

.top-button.active {
  transform: scale(1);
}
