<section class="skills" id="skills">
  <div class="title__container">
    <h1 class="skills__title">{{ "SKILLS" | translate }}</h1>
  </div>
  <div class="skills__container2">
    <!---- top side ---->
    <div class="skills__logo-top">
      <!---- logo HTML ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/html-5.svg" alt="" />
        <p>HTML 5</p>
      </div>

      <!---- logo CSS ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/css-3.svg" alt="" />
        <p>CSS</p>
      </div>

      <!---- logo JS ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/js.svg" alt="" />
        <p>JAVASCRIPT</p>
      </div>

      <!---- logo BTS ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/bootstrap.svg" alt="" />
        <p>BOOTSTRAP</p>
      </div>

      <!---- logo SASS ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/sass.svg" alt="" />
        <p>SASS</p>
      </div>

      <!---- logo Git ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/git.svg" alt="" />
        <p>GIT</p>
      </div>

      <!---- logo Github ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/github.svg" alt="" />
        <p>GITHUB</p>
      </div>

      <!---- logo React ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/react.svg" alt="" />
        <p>REACT</p>
      </div>

      <!---- logo Redux ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/redux.svg" alt="" />
        <p>REDUX</p>
      </div>

      <!---- logo next ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/nextjs.png" alt="" style="width: 48px" />
        <p>NEXTJS</p>
      </div>

      <!---- logo Typescript ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/typescript.svg" alt="" />
        <p>TYPESCRIPT</p>
      </div>

      <!---- logo Angular ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/angularjs.svg" alt="" />
        <p>ANGULAR</p>
      </div>

      <!---- logo Java ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/java.svg" alt="" />
        <p>JAVA</p>
      </div>

      <!---- logo Spring Boot ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/spring-boot.svg" alt="" />
        <p>SPRING-BOOT</p>
      </div>

      <!---- logo Tailwind ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/tailwind.svg" alt="" />
        <p>TAILWIND</p>
      </div>

      <!---- logo Node ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/node-js.svg" alt="" />
        <p>NODE</p>
      </div>

      <!---- logo Express ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/express.svg" alt="" />
        <p class="skills_text">EXPRESS</p>
      </div>

      <!---- logo Sequelize ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/sequelize.svg" alt="" />
        <p>SEQUELIZE</p>
      </div>
      <!---- logo firebase ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/firebase.svg" alt="" />
        <p>FIREBASE</p>
      </div>

      <!---- logo Npm ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/npm.svg" alt="" />
        <p>NPM</p>
      </div>

      <!---- logo postgresSQL ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/postgresql.svg" alt="" style="height: 40px" />
        <p>PostgresSQL</p>
      </div>
      <!---- logo Postman ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/postman.png" alt="" style="height: 40px" />
        <p>Postman</p>
      </div>
      <!---- logo MongoDB ---->
      <div class="skills__logo" data-aos="fade-up" data-aos-duration="2000">
        <img src="/assets/img/mongodb.svg" alt="" />
        <p>MongoDB</p>
      </div>
    </div>
  </div>
</section>
