<section
  class="about"
  id="about"
  data-aos="zoom-in"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
>
  <div class="title__container">
    <h1 class="about__title">{{ "ABOUT_ME.TITLE" | translate }}</h1>
  </div>
  <div class="about__container">
    <div class="about__text">
      <h2 class="about__subtitle">Nicolas Oviedo</h2>
      <p class="about__description">
        {{ "ABOUT_ME.CHARACTER" | translate }}
        <br />
        {{ "ABOUT_ME.NOW" | translate }}
      </p>
      <p class="about__color">
        {{ "ABOUT_ME.WORKS" | translate }}
      </p>
    </div>
    <div class="about__image">
      <img src="assets/about/about-image-complete.svg" alt="about" />
    </div>
  </div>
</section>
