

<section class="about" id="about" data-aos="zoom-in" data-aos-offset="300" data-aos-easing="ease-in-sine">
  <div class=" title__container">
  <h1 class="about__title">Sobre Mí</h1>
  </div>
  <div class="about__container">
    <!---- left side ---->
    <div class="about__text">
      <h2 class="about__subtitle">Nicolas Oviedo</h2>
      <p class="about__description">
        Me caracterizo por ser una persona autodidacta, siempre intentando aprender nuevas tecnologías y
        herramientas.
        <br>
        Actualmente estoy buscando trabajar de lo que me apasiona, en un lugar que me permita seguir aprendiendo y
        crecer personalmete.
      </p>
      <p class="about__color">
        Siempre dispuesto al trabajo en equipo y en
        aprendizaje continuo.
      </p>
      <!---- right side ---->
    </div>
    <div class="about__image">
      <img src="assets/about/about-image-complete.svg" alt="about" />
    </div>
  </div>
</section>
