<section class="projects" id="projects">
  <div class="title__container">
    <h1 class="projects__title">Proyectos</h1>
  </div>
  <div class="projects__container">
    <div class="projects__item">
      <!---- project #1 ---->
      <div>
        <div class="projects__card" data-aos="zoom-out-down">
          <h3
            class="project__one"
            style="color: black; background-color: white"
          >
            Bomberos Santa Catalina
          </h3>
          <img src="assets/projects/Bomberos.png" alt="Encriptador_cover" />
          <div class="projects__btn">
            <a
              href="https://bvsc.vercel.app/"
              class="slide_from_left"
              target="_blank"
              ><i class="fa-solid fa-eye"></i> Demo</a
            >
            <a
              href="https://github.com/Nicovied0/Bomberos_Voluntarios_Proyect"
              class="slide_from_right"
              target="_blank"
              ><i class="fa-brands fa-github"></i> Github</a
            >
          </div>
        </div>
        <div class="divDescription">
          <p>
            Desarrollé una aplicación para la gestión de datos y procesos
            digitales de los bomberos en Santa Catalina. La app permite
            asignación de roles, registro de usuarios, publicación de datos,
            mantenimiento y transparencia de la institucion
          </p>
          <hr />
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: start;
              flex-wrap: wrap;
            "
          >
            <h3>Tecnologias:</h3>
            <img src="./assets/img/js.svg" class="imgProyects" />
            <img src="./assets/img/angularjs.svg" class="imgProyects" />
            <img src="./assets/img/typescript.svg" class="imgProyects" />
            <img src="./assets/img/postman.png" class="imgProyects" />
            <img src="./assets/img/node-js.svg" class="imgProyects" />
            <img src="./assets/img/express.svg" class="imgProyects" />
            <img src="./assets/img/mongodb.svg" class="imgProyects" />
            <img src="./assets/img/jwt.svg" class="imgProyects" />
            <img src="./assets/img/auth0.png" class="imgProyects" />
            <img src="./assets/img/material-ui.svg" class="imgProyects" />
            <img
              src="./assets/img/nodemailer.png"
              class="imgProyects"
              style="max-width: 48px"
            />
            <img src="./assets/img/bootstrap.svg" class="imgProyects" />
            <img src="./assets/img/css-3.svg" class="imgProyects" />
            <img src="./assets/img/html-5.svg" class="imgProyects" />
          </div>
          <hr />
        </div>
      </div>
      <!---- project #2 ---->
      <div>
        <div class="projects__card" data-aos="zoom-out-down">
          <h3
            class="project__one"
            style="color: black; background-color: white"
          >
            El Campito Refugio
          </h3>
          <img src="assets/projects/PF.png" alt="Encriptador_cover" />
          <div class="projects__btn">
            <a
              href="https://el-campito-refugio.vercel.app/"
              class="slide_from_left"
              target="_blank"
              ><i class="fa-solid fa-eye"></i> Demo</a
            >
            <a
              href="https://github.com/Nicovied0/PF"
              class="slide_from_right"
              target="_blank"
              ><i class="fa-brands fa-github"></i> Github</a
            >
          </div>
        </div>
        <div class="divDescription">
          <p>
            Practica profesional en el campito Refugio es una ONG, que
            necesitaba actulizar su web e implentar nuevas funcionalidades.
          </p>
          <hr />
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: start;
              flex-wrap: wrap;
            "
          >
            <h3>Tecnologias:</h3>
            <img src="./assets/img/js.svg" class="imgProyects" />
            <img src="./assets/img/react.svg" class="imgProyects" />
            <img src="./assets/img/redux.svg" class="imgProyects" />
            <img src="./assets/img/node-js.svg" class="imgProyects" />
            <img src="./assets/img/express.svg" class="imgProyects" />
            <img src="./assets/img/mongodb.svg" class="imgProyects" />
            <img src="./assets/img/mercado-pago.svg" class="imgProyects" />
            <img src="./assets/img/paypal.svg" class="imgProyects" />
            <img src="./assets/img/jwt.svg" class="imgProyects" />
            <img src="./assets/img/auth0.png" class="imgProyects" />
            <img src="./assets/img/material-ui.svg" class="imgProyects" />
            <img
              src="./assets/img/nodemailer.png"
              class="imgProyects"
              style="max-width: 48px"
            />
            <img src="./assets/img/css-3.svg" class="imgProyects" />
            <img src="./assets/img/html-5.svg" class="imgProyects" />
          </div>
          <hr />
        </div>
      </div>
      <!---- project #3 ---->
      <div>
        <div class="projects__card" data-aos="zoom-out-down">
          <h3
            class="project__three"
            style="color: White; background-color: black"
          >
            Tu tienda PC
          </h3>
          <img src="assets/projects/TuTiendaPC.png" alt="portfolio_cover" />
          <div class="projects__btn">
            <a
              href="https://tutienda-pc.vercel.app/"
              class="slide_from_left"
              target="_blank"
              ><i class="fa-solid fa-eye"></i> Demo</a
            >
            <a
              href="https://github.com/Nicovied0/tutiendaPC"
              class="slide_from_right"
              target="_blank"
              ><i class="fa-brands fa-github"></i>Github</a
            >
          </div>
        </div>
        <div class="divDescription">
          <p>
            Esta es una tienda Web, posee una base de datos que puede ser
            modificada por usuarios administradores en un panel especifico de
            ellos, y pudes simular una compra de productos con mercado-pago.
          </p>
          <hr />
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: start;
              flex-wrap: wrap;
            "
          >
            <h3>Tecnologias:</h3>
            <img src="./assets/img/typescript.svg" class="imgProyects" />
            <img src="./assets/img/angularjs.svg" class="imgProyects" />
            <img src="./assets/img/bootstrap.svg" class="imgProyects" />
            <img src="./assets/img/firebase.svg" class="imgProyects" />
            <img src="./assets/img/mercado-pago.svg" class="imgProyects" />
            <img src="./assets/img/css-3.svg" class="imgProyects" />
            <img src="./assets/img/html-5.svg" class="imgProyects" />
          </div>
          <hr />
        </div>
      </div>

      <!---- project #4 ---->
      <div>
        <div class="projects__card" data-aos="zoom-out-down">
          <h3 class="project__one" style="color: white">PI-Countries</h3>
          <img src="assets/projects/PI.png" alt="Encriptador_cover" />
          <div class="projects__btn">
            <a
              href="https://pi-countries.vercel.app/"
              class="slide_from_left"
              target="_blank"
              ><i class="fa-solid fa-eye"></i> Demo</a
            >
            <a
              href="https://github.com/Nicovied0/PI_Countries"
              class="slide_from_right"
              target="_blank"
              ><i class="fa-brands fa-github"></i> Github</a
            >
          </div>
        </div>
        <div class="divDescription">
          <p>
            Proyecto Individual, en el cual cree una app Full Stack con
            integraciones de base de datos, back y front. Consumiendo la API de
            Paises.
          </p>
          <hr />
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: start;
              flex-wrap: wrap;
            "
          >
            <h3>Tecnologias:</h3>
            <img src="./assets/img/js.svg" class="imgProyects" />
            <img src="./assets/img/react.svg" class="imgProyects" />
            <img src="./assets/img/redux.svg" class="imgProyects" />
            <img src="./assets/img/node-js.svg" class="imgProyects" />
            <img src="./assets/img/express.svg" class="imgProyects" />
            <img src="./assets/img/postgresql.svg" class="imgProyects" />
            <img src="./assets/img/css-3.svg" class="imgProyects" />
            <img src="./assets/img/html-5.svg" class="imgProyects" />
          </div>
          <hr />
        </div>
      </div>
      <!---- project #5 ---->
      <div>
        <div class="projects__card" data-aos="zoom-out-down">
          <h3 class="project__one" style="color: white">Cuanto sale</h3>
          <img src="assets/projects/Cuanto_sale.png" alt="Encriptador_cover" />
          <div class="projects__btn">
            <a
              href="https://cuanto-sale.vercel.app/"
              class="slide_from_left"
              target="_blank"
              ><i class="fa-solid fa-eye"></i> Demo</a
            >
            <a
              href="https://github.com/Nicovied0/meDuelenLosBolsillos"
              class="slide_from_right"
              target="_blank"
              ><i class="fa-brands fa-github"></i> Github</a
            >
          </div>
        </div>
        <div class="divDescription">
          <p>
            Aplicacion que muestra las distintas cotizaciones del dolar en el
            momento actual. Calculadora de impuestos y precios de las
            principales plataformas de streaming.
          </p>
          <hr />
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: start;
              flex-wrap: wrap;
            "
          >
            <h3>Tecnologias:</h3>
            <img src="./assets/img/js.svg" class="imgProyects" />
            <img src="./assets/img/react.svg" class="imgProyects" />
            <img src="./assets/img/nextjs.png" class="imgProyects" />
            <img src="./assets/img/css-3.svg" class="imgProyects" />
            <img src="./assets/img/html-5.svg" class="imgProyects" />
          </div>
          <hr />
        </div>
      </div>
      <!---- project #6 ---->
      <div>
        <div class="projects__card" data-aos="zoom-out-down">
          <h3
            class="project__three"
            style="color: White; background-color: black"
          >
            Rick-and-Morty-App
          </h3>
          <img src="assets/projects/rickandmorty.png" alt="portfolio_cover" />
          <div class="projects__btn">
            <a
              href="https://rick-and-morty-application.vercel.app/"
              class="slide_from_left"
              target="_blank"
              ><i class="fa-solid fa-eye"></i> Demo</a
            >
            <a
              href="https://github.com/Nicovied0/RickAndMorty_Front"
              class="slide_from_right"
              target="_blank"
              ><i class="fa-brands fa-github"></i>Github</a
            >
          </div>
        </div>
        <div class="divDescription">
          <p>
            Proyecto Front End, en el que se consume la api de Rick and Morty,
            mostrando y filtrando los personajes.
          </p>
          <hr />
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: start;
              flex-wrap: wrap;
            "
          >
            <h3>Tecnologias:</h3>
            <img src="./assets/img/js.svg" class="imgProyects" />
            <img src="./assets/img/react.svg" class="imgProyects" />
            <img src="./assets/img/redux.svg" class="imgProyects" />
            <img src="./assets/img/css-3.svg" class="imgProyects" />
            <img src="./assets/img/html-5.svg" class="imgProyects" />
          </div>
          <hr />
        </div>
      </div>
      <!---- project #7 ---->
      <div>
        <div class="projects__card" data-aos="zoom-out-down">
          <h3
            class="project__three"
            style="color: White; background-color: black"
          >
            Pomodoro-App
          </h3>
          <img
            src="/assets/projects/pomodoro.png"
            alt="portfolio_cover"
          />
          <div class="projects__btn">
            <a
              href="https://pomodoro-app-flax.vercel.app/"
              class="slide_from_left"
              target="_blank"
              ><i class="fa-solid fa-eye"></i> Demo</a
            >
            <a
              href="https://github.com/Nicovied0/PomodoroApp"
              class="slide_from_right"
              target="_blank"
              ><i class="fa-brands fa-github"></i>Github</a
            >
          </div>
        </div>
        <div class="divDescription">
          <p>
            Esta es una aplicación, que utiliza la popular técnica de
            productividad Pomodoro. Con una interfaz intuitiva y fácil de usar,
            esta aplicación te ayuda a mantener el enfoque y aumentar la
            productividad al dividir tu tiempo en ciclos de trabajo y descanso.
          </p>
          <hr />
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: start;
              flex-wrap: wrap;
            "
          >
            <h3>Tecnologias:</h3>
            <img src="/assets/img/typescript.svg" class="imgProyects" />
            <img src="/assets/img/angularjs.svg" class="imgProyects" />
            <img src="/assets/img/tailwind.svg" class="imgProyects" />
            <img src="/assets/img/css-3.svg" class="imgProyects" />
            <img src="/assets/img/html-5.svg" class="imgProyects" />
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>
